
body {
    padding-top:50x;
    padding-bottom: 100%;
    background-color:aliceblue;
        
    /* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:aqua;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
navbar{
    position:fixed;
    top: 0:
    left: 0;
    bottom: 0;

}
a{

}