<html>
<body>
    <div class="jumbotron">
        <h1>Bem vindo ao BuscadorCEP!</h1>
        <p class="lead">O aplicativo BuscadorCEP! permite que você encontre códigos de endereçamento postais (CEP).</p>
        <p>Se você já tiver o CEP em mãos e gostaria de buscar seu endereço, o BuscadorCEP! também vai te ajudar.</p>
        <p>Aproveite! =D</p>
        <br>
        <br>
        <br>
        <br>
        <a href="/Endereco" class="btn btn-primary btn-lg"><strong>Buscar Endereço</strong></a>
        <a href="/CEP" class="btn btn-primary btn-lg"><strong>Buscar CEP</strong></a>
    </div>
</body>
</html>